# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
*.csproj
*.sln
*.dwlt
CrowstoneCameraTest/Library/
CrowstoneCameraTest/Temp/
/CrowstoneCameraTest/Library
/CrowstoneCameraTest/Temp
/CrowstoneCameraTest/.vs/CrowstoneCameraTest/v14/.suo
/CrowstoneCameraTest/.vs/CrowstoneCameraTest/v14/*.suo
CrowstoneCameraTest/Assets/Art/Ending with text/Ending 1 Part 1.png.meta
CrowstoneCameraTest/Assets/Art/Ending with text/Ending 1 Part 2.png.meta
CrowstoneCameraTest/Assets/Art/Ending with text/Ending 2 Part 1.png.meta
CrowstoneCameraTest/Assets/Art/Ending with text/Ending 2 Part 2.png.meta
CrowstoneCameraTest/Assets/Art/Ending with text.meta
CrowstoneCameraTest/Assets/Art/Ending with text/Ending 3 Part 2.png.meta
CrowstoneCameraTest/Assets/Art/Ending with text/Ending 3 Part 1.png.meta
